.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
*.aux
*.bbl
*.blg
*.log
*.swp
*.synctex.gz
*.nav
*.out
*.pdf
*.csv
*.snm
*.toc
*.png
*.jpg
data
graphics
graphics-multiyear
*.RData
*DELETEME*
ARCHIVE
*BACKUP*
*output*
stderr.*
stdout.*
*.rds
*.RData
#000-data
